.nav-bar {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	display: flex;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;

}
.logo img {
	width: 80px;
	height: 40px;
	padding-right: 20px;
}
.item {
	text-decoration: none;
	color: #6E6D7A;
	
}
ul > li {
	height: 100%;
	color: #DDD;
	padding-right: 20px;
	display: block;
	background-color: #DDD;	
}

ul {
list-style-type: none;
display: flex;
justify-content: center;
align-items: center;
}
.nav-wrapper {
	width: 100%
	height: 80px;
}
.links-container{
	padding-left: 0;
}
.search-icon {
	flex-grow: 0.03;
	
}
.sign-in {
flex-grow: 0.03;
}
.sign-up-1 {
	background-color: #EA4c89;
	width: 81.93px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-weight: bold;
	flex-grow: 1;
}
.left-content {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo img:hover {
	opacity: 0.6;
	transition: all 0.5;
}
