.ul-category {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	font-family: Roboto, sans-serif;
	padding: 0;
}

.category a[title]{
	text-decoration: none;
	padding: 10px 12px;
	color: #6E6D7A;
	font-weight: 400px;
}
.category a[title="All"] {
	width: 40.98px;
	height: 40px;
	padding: 10px 12px;
	background-color: #F3F3F3;
	border-radius: 8px;
	color: #0D0C22;
	font-weight: bold;
}
.filter-views,
.filter-settings {
	font-family: Roboto, sans-serif;
	display: flex;
	align-items: center;
}

.filter-subnav-inner {
	display: flex;
	justify-content: space-between;
}
.filter-subnav {
	padding: 32px 72px 0px 72px;
}
.form-btn {
	width: 115px;
	height: 40px;
	padding: 10px 20px 10px 16px;
	border: 1px solid #DDD;
	border-radius: 5px;
	color: #6E6D7A;
	text-decoration: none;
}
.form-btn span {
	margin-right: 8px;
}
.filter-categories {
	position: relative;
	
}
.filter-btn {
	width: 92.65px;
	height: 40px;
	border: 1px solid #DDD;
	border-radius: 5px;
	color: #6E6D7A;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filter-btn img {
	margin-right: 8px;
}

